.input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 14px;
    height: 40px;
    line-height: 38px 0;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
}

.input:focus {
    outline: none;
}