.container {
    background-color: #EFF0F5;
    height: 100vh;
    padding-top: 60px;
}

.header {
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 22px;
        font-weight: 400;
    }

    p {
        font-size: 14px;
    }
}

.loginForm {
    margin-top: 40px;
    padding: 30px 20px;
    background-color: white;
    p {
        font-size: 12px;
        color: gray;
        margin: 10px 0;
    }
}

